body {
    width:960px;
    margin-left:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    margin: 0 0 0 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

h2 {
    color: #CC1C0D;
    background-color: #DFE3E6;
    border: 1px solid #929CA4;
    font-size: 1em;
    padding-left: 10px;
    border-radius: 5px;
}

h3 {
    font-weight: bold;
}

a, a:link, a:visited, a:hover, a:active {
    color: #CC1C0D;
}

p img {
    float: left;
}

.aboutus-section img {
    float: left;
    border-radius: 45%;
    border: 3px solid red;
    margin-right: 20px;
}

.sub-nav-list {
    margin-left: 40px;
}

.solutions-list {
    list-style-type: disc;
    margin-left: 50px;
}

.pricing-box {
    float: left;
    width: 23%;
    margin-right: 2%;
    background: #fff;
    padding: 20px 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: solid 2px #ccc;
}

.pricing-divider {
    height: 8px;
    margin: 12px auto 18px auto;
    width: 100%
}

.pricing-vprospect-divider {
    background: #CC1C0D;
}

.pricing-vconvert-divider {
    background: #37A4A4;
}

.pricing-vretain-divider {
    background: #685288;
}

.pricing-enterprise-divider {
    background: #000000;
}

.pricing-box img {
    display: block;
    margin: 0 auto 10px auto;
}

.pricing-box h3 {
    text-align: center;
}

.pricing-box p, .pricing-box span {
    text-align: center;
    display: block;
}