body {
    width:960px;
    margin-left:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    margin: 0 0 0 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

h2 {
    color: #CC1C0D;
    background-color: #DFE3E6;
    border: 1px solid #929CA4;
    font-size: 1em;
    padding-left: 10px;
    border-radius: 5px;
}

h3 {
    font-weight: bold;
}

a, a:link, a:visited, a:hover, a:active {
    color: #CC1C0D;
}

/* .solution-index {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 10px;
  /* white-space: nowrap; */
  /* display: inline-block; */
  /* flex-wrap: wrap;
  width: 100%; 
} */

/* .solution-description {
    display: inline-block; 
    vertical-align: top; 
    margin: 0;
    overflow: hidden;
} */

.solution-index img {
    float: left;
}

p img {
    float: left;
}